Java/.metadata
Java/Servers/.settings
Java/Servlet1/.settings
Android/Calcolatrice/.idea
Android/CambiaValuta/.idea
Android/CambiaValuta/.gradle
Android/DrawApp/.idea
Android/DrawApp/.gradle
Android/HelloToast/.idea
Android/HelloToast/.gradle
Android/HelloWorld/.idea
Android/HelloWorld/.gradle
Android/SingleNote/.idea
Android/SingleNote/.gradle
Android/ListaSpesa/.idea
Android/ListaSpesa/.gradle
Android/ListaSpesaV2/.idea
Android/ListaSpesaV2/.gradle