Android/Calcolatrice/.idea
!Android/Calcolatrice/app/.gitignore
!Android/Calcolatrice/.gitignore 

Android/CambiaValuta/.idea
Android/CambiaValuta/.gradle
!Android/CambiaValuta/app/.gitignore
!Android/CambiaValuta/.gitignore

Android/DrawApp/.idea
Android/DrawApp/.gradle
!Android/DrawApp/app/.gitignore
!Android/DrawApp/.gitignore

Android/HelloToast/.idea
Android/HelloToast/.gradle
!Android/HelloToast/app/.gitignore
!Android/HelloToast/.gitignore

Android/HelloWorld/.idea
Android/HelloWorld/.gradle
!Android/HelloWorld/app/.gitignore
!Android/HelloWorld/.gitignore

Android/SingleNote/.idea
Android/SingleNote/.gradle
!Android/SingleNote/app/.gitignore
!Android/SingleNote/.gitignore

Android/ListaSpesa/.idea
Android/ListaSpesa/.gradle
!Android/ListaSpesa/app/.gitignore
!Android/ListaSpesa/.gitignore

Android/ListaSpesaV2/.idea
Android/ListaSpesaV2/.gradle
!Android/ListaSpesaV2/app/.gitignore
!Android/ListaSpesaV2/.gitignore

Android/ListaSpesaV2_Loreti

Android/TestFragment/.idea
Android/TestFragment/.gradle
!Android/TestFragment/app/.gitignore
!Android/TestFragment/.gitignore

Android/TestService/.idea
Android/TestService/.gradle
!Android/TestService/app/.gitignore
!Android/TestService/.gitignore

Android/TestNet/.idea
Android/TestNet/.gradle
!Android/TestNet/app/.gitignore
!Android/TestNet/.gitignore

ApertureScacchi

Java/.metadata

!Progetto/PizzaDaMatteo-Servlet/.idea/.gitignore

Progetto/PizzaDaMatteo-Servlet/target

!Progetto/PizzaDaMatteoV2/.idea/.gitignore
!Progetto/PizzaDaMatteoV2/.gitignore
Progetto/PizzaDaMatteoV2/.gradle

Old.zip