<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>ip</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>3306</param-value>
  </context-param>
  <context-param>
    <param-name>dbName</param-name>
    <param-value>pizza</param-value>
  </context-param>
  <context-param>
    <param-name>userName</param-name>
    <param-value>utente</param-value>
  </context-param>
  <context-param>
    <param-name>userPwd</param-name>
    <param-value>7631</param-value>
  </context-param>

  <servlet>
    <description/>
    <display-name>getPizze</display-name>
    <servlet-name>getPizze</servlet-name>
    <servlet-class>com.mandija.servlet.getPizze</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPizze</servlet-name>
    <url-pattern>/getPizze</url-pattern>
  </servlet-mapping>

  <servlet>
    <description/>
    <display-name>getFritti</display-name>
    <servlet-name>getFritti</servlet-name>
    <servlet-class>com.mandija.servlet.getFritti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFritti</servlet-name>
    <url-pattern>/getFritti</url-pattern>
  </servlet-mapping>

  <servlet>
    <description/>
    <display-name>getBibite</display-name>
    <servlet-name>getBibite</servlet-name>
    <servlet-class>com.mandija.servlet.getBibite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBibite</servlet-name>
    <url-pattern>/getBibite</url-pattern>
  </servlet-mapping>

  <servlet>
    <description/>
    <display-name>getOrdine</display-name>
    <servlet-name>getOrdine</servlet-name>
    <servlet-class>com.mandija.servlet.getOrdine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getOrdine</servlet-name>
    <url-pattern>/getOrdine</url-pattern>
  </servlet-mapping>

  <servlet>
    <description/>
    <display-name>getOrdine1</display-name>
    <servlet-name>getOrdine1</servlet-name>
    <servlet-class>com.mandija.servlet.getOrdine1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getOrdine1</servlet-name>
    <url-pattern>/getOrdine1</url-pattern>
  </servlet-mapping>

    <servlet>
        <description/>
        <display-name>getOrdine2</display-name>
        <servlet-name>getOrdine2</servlet-name>
        <servlet-class>com.mandija.servlet.getOrdine2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getOrdine2</servlet-name>
        <url-pattern>/getOrdine2</url-pattern>
    </servlet-mapping>

  <servlet>
    <description/>
    <display-name>getStatsOrario</display-name>
    <servlet-name>getStatsOrario</servlet-name>
    <servlet-class>com.mandija.servlet.getStatsOrario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStatsOrario</servlet-name>
    <url-pattern>/getStatsOrario</url-pattern>
  </servlet-mapping>

  <servlet>
    <description/>
    <display-name>getStatsPizze</display-name>
    <servlet-name>getStatsPizze</servlet-name>
    <servlet-class>com.mandija.servlet.getStatsPizze</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStatsPizze</servlet-name>
    <url-pattern>/getStatsPizze</url-pattern>
  </servlet-mapping>

    <servlet>
        <description/>
        <display-name>getLastOrdine</display-name>
        <servlet-name>getLastOrdine</servlet-name>
        <servlet-class>com.mandija.servlet.getLastOrdine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getLastOrdine</servlet-name>
        <url-pattern>/getLastOrdine</url-pattern>
    </servlet-mapping>
</web-app>
