<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PizzaDaMatteo-Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>ip</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>3306</param-value>
  </context-param>
  <context-param>
    <param-name>dbName</param-name>
    <param-value>pizza</param-value>
  </context-param>
  <context-param>
    <param-name>userName</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>userPwd</param-name>
    <param-value>7631</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>getPizze</display-name>
    <servlet-name>getPizze</servlet-name>
    <servlet-class>com.mandija.servlet.getPizze</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPizze</servlet-name>
    <url-pattern>/getPizze</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getFritti</display-name>
    <servlet-name>getFritti</servlet-name>
    <servlet-class>com.mandija.servlet.getFritti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFritti</servlet-name>
    <url-pattern>/getFritti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getBibite</display-name>
    <servlet-name>getBibite</servlet-name>
    <servlet-class>com.mandija.servlet.getBibite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBibite</servlet-name>
    <url-pattern>/getBibite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getOrdine</display-name>
    <servlet-name>getOrdine</servlet-name>
    <servlet-class>com.mandija.servlet.getOrdine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getOrdine</servlet-name>
    <url-pattern>/getOrdine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getOrdine1</display-name>
    <servlet-name>getOrdine1</servlet-name>
    <servlet-class>com.mandija.servlet.getOrdine1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getOrdine1</servlet-name>
    <url-pattern>/getOrdine1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getStats</display-name>
    <servlet-name>getStats</servlet-name>
    <servlet-class>com.mandija.servlet.getStats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStats</servlet-name>
    <url-pattern>/getStats</url-pattern>
  </servlet-mapping>
</web-app>